body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

form input, form textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
}

/*estilo de las tarjetas*/
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    background-color: #f9f9f9; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px;
    margin: 16px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    width: 300px; /* Ancho de las tarjetas */
}

.project-card img {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    border-radius: 4px; /* Bordes redondeados para la imagen */
}

.project-card h3 {
    margin: 8px 0; /* Margen superior e inferior */
}

.project-card p {
    margin: 8px 0 16px; /* Margen inferior */
}

/* Efecto al pasar el cursor */
.project-card:hover {
    transform: translateY(-5px); /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}

.project-card a {
    display: inline-block;
    margin-top: 10px; /* Margen superior */
    text-decoration: none; /* Sin subrayado */
    color: #007BFF; /* Color del enlace */
    transition: color 0.3s; /* Transición suave para el color */
}

.project-card a:hover {
    color: #0056b3; /* Cambia el color al pasar el mouse */
}
