body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

form input, form textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
}

/*estilo de las tarjetas*/

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0;
    color: #333;
}

.project-card p {
    padding: 0 15px;
    font-size: 14px;
    color: #555;
}

.project-card a {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.project-card a:hover {
    background-color: #555;
}
